<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <!--appSettings 是本项目新增的配置，用于添加本项目所需的系统参数-->
  <appSettings>
    <add key="payment.config.path" value="F:/CPCN/Payment/InstitutionSimulator/netconfig"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!--globalization 是本项目新增的配置，以解决乱码问题-->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error.aspx"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--urlMapping 是本项目修改的配置，以对外屏蔽系统目录结构-->
    <urlMappings enabled="true">
      <clear/>
      <add url="~/Index.aspx" mappedUrl="~/WebRoot/Index.aspx"/>
      <add url="~/Tx1111.ashx" mappedUrl="~/WebRoot/Tx1111.ashx"/>
      <add url="~/Tx1111.aspx" mappedUrl="~/WebRoot/Tx1111.aspx"/>
      <add url="~/Tx1112.ashx" mappedUrl="~/WebRoot/Tx1112.ashx"/>
      <add url="~/Tx1112.aspx" mappedUrl="~/WebRoot/Tx1112.aspx"/>
      <add url="~/Tx1120.ashx" mappedUrl="~/WebRoot/Tx1120.ashx"/>
      <add url="~/Tx1120.aspx" mappedUrl="~/WebRoot/Tx1120.aspx"/>
      <add url="~/Tx1131.ashx" mappedUrl="~/WebRoot/Tx1131.ashx"/>
      <add url="~/Tx1131.aspx" mappedUrl="~/WebRoot/Tx1131.aspx"/>
      <add url="~/Tx1132.ashx" mappedUrl="~/WebRoot/Tx1132.ashx"/>
      <add url="~/Tx1132.aspx" mappedUrl="~/WebRoot/Tx1132.aspx"/>
      <add url="~/Tx1311.ashx" mappedUrl="~/WebRoot/Tx1311.ashx"/>
      <add url="~/Tx1311.aspx" mappedUrl="~/WebRoot/Tx1311.aspx"/>
      <add url="~/Tx1312.ashx" mappedUrl="~/WebRoot/Tx1312.ashx"/>
      <add url="~/Tx1312.aspx" mappedUrl="~/WebRoot/Tx1312.aspx"/>
      <add url="~/Tx1320.ashx" mappedUrl="~/WebRoot/Tx1320.ashx"/>
      <add url="~/Tx1320.aspx" mappedUrl="~/WebRoot/Tx1320.aspx"/>
      <add url="~/Tx1330.ashx" mappedUrl="~/WebRoot/Tx1330.ashx"/>
      <add url="~/Tx1330.aspx" mappedUrl="~/WebRoot/Tx1330.aspx"/>
      <add url="~/Tx1341.ashx" mappedUrl="~/WebRoot/Tx1341.ashx"/>
      <add url="~/Tx1341.aspx" mappedUrl="~/WebRoot/Tx1341.aspx"/>
      <add url="~/Tx1343.ashx" mappedUrl="~/WebRoot/Tx1343.ashx"/>
      <add url="~/Tx1343.aspx" mappedUrl="~/WebRoot/Tx1343.aspx"/>
      <add url="~/Tx1350.ashx" mappedUrl="~/WebRoot/Tx1350.ashx"/>
      <add url="~/Tx1350.aspx" mappedUrl="~/WebRoot/Tx1350.aspx"/>
      <add url="~/Tx1367.ashx" mappedUrl="~/WebRoot/Tx1367.ashx"/>
      <add url="~/Tx1367.aspx" mappedUrl="~/WebRoot/Tx1367.aspx"/>
      <add url="~/Tx1630.ashx" mappedUrl="~/WebRoot/Tx1630.ashx"/>
      <add url="~/Tx1630.aspx" mappedUrl="~/WebRoot/Tx1630.aspx"/>
      <add url="~/Tx1711.ashx" mappedUrl="~/WebRoot/Tx1711.ashx"/>
      <add url="~/Tx1711.aspx" mappedUrl="~/WebRoot/Tx1711.aspx"/>
      <add url="~/Tx1713.ashx" mappedUrl="~/WebRoot/Tx1713.ashx"/>
      <add url="~/Tx1713.aspx" mappedUrl="~/WebRoot/Tx1713.aspx"/>
      <add url="~/Tx1721.ashx" mappedUrl="~/WebRoot/Tx1721.ashx"/>
      <add url="~/Tx1721.aspx" mappedUrl="~/WebRoot/Tx1721.aspx"/>
      <add url="~/Tx1723.ashx" mappedUrl="~/WebRoot/Tx1723.ashx"/>
      <add url="~/Tx1723.aspx" mappedUrl="~/WebRoot/Tx1723.aspx"/>
      <add url="~/Tx1731.ashx" mappedUrl="~/WebRoot/Tx1731.ashx"/>
      <add url="~/Tx1731.aspx" mappedUrl="~/WebRoot/Tx1731.aspx"/>
      <add url="~/Tx1733.ashx" mappedUrl="~/WebRoot/Tx1733.ashx"/>
      <add url="~/Tx1733.aspx" mappedUrl="~/WebRoot/Tx1733.aspx"/>
      <add url="~/Tx1741.ashx" mappedUrl="~/WebRoot/Tx1741.ashx"/>
      <add url="~/Tx1741.aspx" mappedUrl="~/WebRoot/Tx1741.aspx"/>
      <add url="~/Tx1810.ashx" mappedUrl="~/WebRoot/Tx1810.ashx"/>
      <add url="~/Tx1810.aspx" mappedUrl="~/WebRoot/Tx1810.aspx"/>
      <add url="~/Tx1910.ashx" mappedUrl="~/WebRoot/Tx1910.ashx"/>
      <add url="~/Tx1910.aspx" mappedUrl="~/WebRoot/Tx1910.aspx"/>
      <add url="~/Tx1920.ashx" mappedUrl="~/WebRoot/Tx1920.ashx"/>
      <add url="~/Tx1920.aspx" mappedUrl="~/WebRoot/Tx1920.aspx"/>
      <add url="~/Tx1930.ashx" mappedUrl="~/WebRoot/Tx1930.ashx"/>
      <add url="~/Tx1930.aspx" mappedUrl="~/WebRoot/Tx1930.aspx"/>
      <add url="~/Tx1940.ashx" mappedUrl="~/WebRoot/Tx1940.ashx"/>
      <add url="~/Tx1940.aspx" mappedUrl="~/WebRoot/Tx1940.aspx"/>
      <add url="~/Tx2011.ashx" mappedUrl="~/WebRoot/Tx2011.ashx"/>
      <add url="~/Tx2011.aspx" mappedUrl="~/WebRoot/Tx2011.aspx"/>
      <add url="~/Tx2020.ashx" mappedUrl="~/WebRoot/Tx2020.ashx"/>
      <add url="~/Tx2020.aspx" mappedUrl="~/WebRoot/Tx2020.aspx"/>
      <add url="~/Tx3111.aspx" mappedUrl="~/WebRoot/Tx3111.aspx"/>
      <add url="~/Tx3116.aspx" mappedUrl="~/WebRoot/Tx3116.aspx"/>
      <add url="~/Tx3131.aspx" mappedUrl="~/WebRoot/Tx3131.aspx"/>
      <add url="~/Tx3136.aspx" mappedUrl="~/WebRoot/Tx3136.aspx"/>
      <add url="~/Tx3137.aspx" mappedUrl="~/WebRoot/Tx3137.aspx"/>
      <add url="~/Tx3138.aspx" mappedUrl="~/WebRoot/Tx3138.aspx"/>
      <add url="~/Tx3141.aspx" mappedUrl="~/WebRoot/Tx3141.aspx"/>
      <add url="~/Tx3146.aspx" mappedUrl="~/WebRoot/Tx3146.aspx"/>
      <add url="~/Tx3151.aspx" mappedUrl="~/WebRoot/Tx3151.aspx"/>
      <add url="~/Tx3156.aspx" mappedUrl="~/WebRoot/Tx3156.aspx"/>
      <add url="~/Tx3162.aspx" mappedUrl="~/WebRoot/Tx3162.aspx"/>
      <add url="~/Tx3310.aspx" mappedUrl="~/WebRoot/Tx3310.aspx"/>
      <add url="~/Tx3312.aspx" mappedUrl="~/WebRoot/Tx3312.aspx"/>
      <add url="~/Tx3315.aspx" mappedUrl="~/WebRoot/Tx3315.aspx"/>
      <add url="~/Tx3211.ashx" mappedUrl="~/WebRoot/Tx3211.ashx"/>
      <add url="~/Tx3211.aspx" mappedUrl="~/WebRoot/Tx3211.aspx"/>
      <add url="~/Tx3216.ashx" mappedUrl="~/WebRoot/Tx3216.ashx"/>
      <add url="~/Tx3216.aspx" mappedUrl="~/WebRoot/Tx3216.aspx"/>
      <add url="~/Tx3231.ashx" mappedUrl="~/WebRoot/Tx3231.ashx"/>
      <add url="~/Tx3231.aspx" mappedUrl="~/WebRoot/Tx3231.aspx"/>
      <add url="~/Tx3236.ashx" mappedUrl="~/WebRoot/Tx3236.ashx"/>
      <add url="~/Tx3236.aspx" mappedUrl="~/WebRoot/Tx3236.aspx"/>
      <add url="~/Tx3241.ashx" mappedUrl="~/WebRoot/Tx3241.ashx"/>
      <add url="~/Tx3241.aspx" mappedUrl="~/WebRoot/Tx3241.aspx"/>
      <add url="~/Tx3246.ashx" mappedUrl="~/WebRoot/Tx3246.ashx"/>
      <add url="~/Tx3246.aspx" mappedUrl="~/WebRoot/Tx3246.aspx"/>
      <add url="~/Tx4201.aspx" mappedUrl="~/WebRoot/Tx4201.aspx"/>
      <add url="~/Tx4202.aspx" mappedUrl="~/WebRoot/Tx4202.aspx"/>
      <add url="~/Tx4206.ashx" mappedUrl="~/WebRoot/Tx4206.ashx"/>
      <add url="~/Tx4206.aspx" mappedUrl="~/WebRoot/Tx4206.aspx"/>
      <add url="~/Tx4210.aspx" mappedUrl="~/WebRoot/Tx4210.aspx"/>
      <add url="~/Tx4211.aspx" mappedUrl="~/WebRoot/Tx4211.aspx"/>
      <add url="~/Tx4212.aspx" mappedUrl="~/WebRoot/Tx4212.aspx"/>
      <add url="~/Tx4220.aspx" mappedUrl="~/WebRoot/Tx4220.aspx"/>
      <add url="~/Tx4221.aspx" mappedUrl="~/WebRoot/Tx4221.aspx"/>
      <add url="~/Tx4320.aspx" mappedUrl="~/WebRoot/Tx4320.aspx"/>
      <add url="~/Tx4321.aspx" mappedUrl="~/WebRoot/Tx4321.aspx"/>
      <add url="~/Tx4328.aspx" mappedUrl="~/WebRoot/Tx4328.aspx"/>
      <add url="~/Tx4231.ashx" mappedUrl="~/WebRoot/Tx4231.ashx"/>
      <add url="~/Tx4231.aspx" mappedUrl="~/WebRoot/Tx4231.aspx"/>
      <add url="~/Tx4232.ashx" mappedUrl="~/WebRoot/Tx4232.ashx"/>
      <add url="~/Tx4232.aspx" mappedUrl="~/WebRoot/Tx4232.aspx"/>
      <add url="~/Tx4235.ashx" mappedUrl="~/WebRoot/Tx4235.ashx"/>
      <add url="~/Tx4235.aspx" mappedUrl="~/WebRoot/Tx4235.aspx"/>
      <add url="~/Tx4236.ashx" mappedUrl="~/WebRoot/Tx4236.ashx"/>
      <add url="~/Tx4236.aspx" mappedUrl="~/WebRoot/Tx4236.aspx"/>
      <add url="~/Tx4237.ashx" mappedUrl="~/WebRoot/Tx4237.ashx"/>
      <add url="~/Tx4237.aspx" mappedUrl="~/WebRoot/Tx4237.aspx"/>
      <add url="~/Tx4238.ashx" mappedUrl="~/WebRoot/Tx4238.ashx"/>
      <add url="~/Tx4238.aspx" mappedUrl="~/WebRoot/Tx4238.aspx"/>
      <add url="~/Tx4241.ashx" mappedUrl="~/WebRoot/Tx4241.ashx"/>
      <add url="~/Tx4241.aspx" mappedUrl="~/WebRoot/Tx4241.aspx"/>
      <add url="~/Tx4244.ashx" mappedUrl="~/WebRoot/Tx4244.ashx"/>
      <add url="~/Tx4244.aspx" mappedUrl="~/WebRoot/Tx4244.aspx"/>
      <add url="~/Tx4245.ashx" mappedUrl="~/WebRoot/Tx4245.ashx"/>
      <add url="~/Tx4245.aspx" mappedUrl="~/WebRoot/Tx4245.aspx"/>
      <add url="~/Tx4251.ashx" mappedUrl="~/WebRoot/Tx4251.ashx"/>
      <add url="~/Tx4251.aspx" mappedUrl="~/WebRoot/Tx4251.aspx"/>
      <add url="~/Tx4252.ashx" mappedUrl="~/WebRoot/Tx4252.ashx"/>
      <add url="~/Tx4252.aspx" mappedUrl="~/WebRoot/Tx4252.aspx"/>
      <add url="~/Tx4255.ashx" mappedUrl="~/WebRoot/Tx4255.ashx"/>
      <add url="~/Tx4255.aspx" mappedUrl="~/WebRoot/Tx4255.aspx"/>
      <add url="~/Tx4256.ashx" mappedUrl="~/WebRoot/Tx4256.ashx"/>
      <add url="~/Tx4256.aspx" mappedUrl="~/WebRoot/Tx4256.aspx"/>
      <add url="~/Tx4261.ashx" mappedUrl="~/WebRoot/Tx4261.ashx"/>
      <add url="~/Tx4261.aspx" mappedUrl="~/WebRoot/Tx4261.aspx"/>
      <add url="~/Tx4262.ashx" mappedUrl="~/WebRoot/Tx4262.ashx"/>
      <add url="~/Tx4262.aspx" mappedUrl="~/WebRoot/Tx4262.aspx"/>
      <add url="~/Tx4264.ashx" mappedUrl="~/WebRoot/Tx4264.ashx"/>
      <add url="~/Tx4264.aspx" mappedUrl="~/WebRoot/Tx4264.aspx"/>
      <add url="~/Tx4281.ashx" mappedUrl="~/WebRoot/Tx4281.ashx"/>
      <add url="~/Tx4281.aspx" mappedUrl="~/WebRoot/Tx4281.aspx"/>
      <add url="~/ReceiveNotice.ashx" mappedUrl="~/WebRoot/ReceiveNotice.ashx"/>
      <add url="~/ReceiveNoticePage.ashx" mappedUrl="~/WebRoot/ReceiveNoticePage.ashx"/>
      <add url="~/Request.aspx" mappedUrl="~/WebRoot/Request.aspx"/>
      <add url="~/Response.aspx" mappedUrl="~/WebRoot/Response.aspx"/>
      <!--
			<add url="~/WebRoot/Index.aspx" mappedUrl="~/Index.aspx"/>
			<add url="~/WebRoot/Tx1111.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1111.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1112.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1112.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1120.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1120.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1131.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1131.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1132.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1132.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1311.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1311.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1312.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1312.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1320.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1320.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1330.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1330.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1341.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1341.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1343.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1343.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1350.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1350.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1810.ashx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Tx1810.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Request.aspx" mappedUrl="~/Error.aspx"/>
			<add url="~/WebRoot/Request.aspx" mappedUrl="~/Error.aspx"/>
      -->
    </urlMappings>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
